*.pidb
*.suo
*.user
*~
NSch/obj
NGit.Test/obj
NGit.Test/test-results
NGit/obj
Sharpen.Test/obj
Sharpen.Test/test-results
Sharpen/obj
bin
gen/bin
gen/config.make
gen/generated
gen/resp
gen/sharpen-options
gen/source
ngit.userprefs
_ReSharper*/
